<nav id="navbar" class="navbar navbar-default N.svg navbar-fixed-top">
   <div class="container-fluid">
      <div class="navbar-header">
         <a class="navbar-brand" href="index.php">
         <img alt="NBA Database" src="../../assets/img/nba_logo.png">
         <strong class="hidden-xs hidden-sm">NBA Database</strong>
         </a>
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navnav" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
      </div>
      <div class="navbar-collapse collapse" id="navnav">
         <ul class="nav navbar-nav navbar-right">
            <li class="nav-vertical-divider"></li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Themes
               <span class="caret"></span>
               </a>
               <ul class="dropdown-menu" id="themes">
                  <li><a href="#">Default</a></li>
                  <li><a href="#">Default compact</a></li>
                  <li><a href="#">Cerulean</a></li>
                  <li><a href="#">Cerulean compact</a></li>
                  <li><a href="#">Cosmo</a></li>
                  <li><a href="#">Cyborg</a></li>
                  <li><a href="#">Darkly</a></li>
                  <li><a href="#">Darkly compact</a></li>
                  <li><a href="#" style="font-weight: 800">Facebook</a></li>
                  <li><a href="#">Flatly</a></li>
                  <li><a href="#">Journal</a></li>
                  <li><a href="#">Lumen</a></li>
                  <li><a href="#">Paper</a></li>
                  <li><a href="#">Readable</a></li>
                  <li><a href="#">Sandstone</a></li>
                  <li><a href="#">Simplex</a></li>
                  <li><a href="#">Slate</a></li>
                  <li><a href="#">Slate compact</a></li>
                  <li><a href="#">Spacelab</a></li>
                  <li><a href="#">Superhero</a></li>
                  <li><a href="#">Superhero compact</a></li>
                  <li><a href="#">United</a></li>
                  <li><a href="#">United compact</a></li>
                  <li><a href="#">Yeti</a></li>
                  <li><a href="#">Yeti compact</a></li>
               </ul>
            </li>
            <li class="dropdown learn-more">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
               Learn more
               <span class="caret"></span>
               </a>
               <ul class="dropdown-menu">
                  <li class="dropdown-header">NBA Database Demo</li>
                  <li><a href="#" data-toggle="modal" data-target="#demo-about">About this demo</a></li>
                  <li>
                     <a href="http://www.sqlmaestro.com/products/mysql/phpgenerator/download/demo_project/" title="Download project file for this demo" target="_blank">
                     Download project file for this demo
                     </a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Check out other PHP Generator demos</li>
                  <li><a href="http://demo.sqlmaestro.com/feature_demo/" title="Visit Feature Demo project" target="_blank">Feature Showcase Demo</a></li>
                  <li><a href="http://demo.sqlmaestro.com/security_demo/" title="Visit Security Demo" target="_blank">Security Demo</a></li>
                  <li><a href="http://demo.sqlmaestro.com/mysql_schema_browser/" title="Visit MySQL Schema Browser Demo project" target="_blank">MySQL Schema Browser Demo</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Learn more about our products</li>
                  <li>
                     <a href="http://www.sqlmaestro.com/products/mysql/phpgenerator/" title="Visit PHP Generator for MySQL home page" target="_blank">
                     Try PHP Generator for free
                     </a>
                  </li>
                  <li>
                     <a href="http://www.sqlmaestro.com" title="Visit sqlmaestro.com" target="_blank">
                     SQL Maestro Group website
                     </a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Follow us</li>
                  <li><a href="https://www.facebook.com/SQLMaestro/" title="Follow us on Facebook" target="_blank"><i class="icon-facebook-square"></i>Facebook</a></li>
                  <li><a href="https://twitter.com/SQLMaestroSoft" title="Follow us on Twitter" target="_blank"><i class="icon-twitter"></i>Twitter</a></li>
                  <li><a href="https://www.youtube.com/SQLMaestro/" title="Follow us on YouTube" target="_blank"><i class="icon-youtube"></i>YouTube</a></li>
               </ul>
            </li>
         </ul>
         <ul id="nav-menu" class="nav navbar-nav navbar-right">
            <li><a href="login.php?redirect=teams.php">Login</a></li>
         </ul>
         <ul class="nav navbar-nav">
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
               Games
               <span class="caret"></span>
               </a>
               <ul class="dropdown-menu">
                  <li>
                     <a href="regular_season_games.php" title="Regular season games">
                     Regular season games
                     </a>
                  </li>
                  <li>
                     <a href="playoff.php" title="Playoff">
                     Playoff bracket
                     </a>
                  </li>
               </ul>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
               Participants
               <span class="caret"></span>
               </a>
               <ul class="dropdown-menu">
                  <li>
                     <a href="players.php" title="Players">
                     Players
                     </a>
                  </li>
                  <li>
                     <a href="teams.php" title="Teams">
                     Teams
                     </a>
                  </li>
                  <li>
                     <a href="arenas.php" title="Arenas">
                     Arenas
                     </a>
                  </li>
               </ul>
         </ul>
      </div>
   </div>
</nav>
<div class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <div class="container-padding">
            <div class="page-header">
               <ol class="breadcrumb pgui-breadcrumb">
                  <li><a href="index.php"><i class="icon-home"></i></a></li>
                  <li class="dropdown">
                     <a href="index.php?group=Participants">Participants</a>
                  </li>
                  <li class="dropdown">
                     Teams
                     <button class="btn btn-xs btn-default dropdown-toggle pgui-breadcrumb-siblings" data-toggle="dropdown">
                     <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="players.php">Players</a></li>
                        <li><a href="arenas.php">Arenas</a></li>
                     </ul>
                  </li>
               </ol>
               <h1>&nbsp;</h1>
            </div>
            <div id="page-settings" class="modal modal-top fade js-page-settings-dialog" data-total-record-count="0" data-record-count-per-page="0" tabIndex="-1">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">Page settings</h3>
                     </div>
                     <div class="modal-body">
                        <h4>Appearance</h4>
                        <table class="table table-bordered table-condensed form-inline">
                           <tr>
                              <td class="page-settings-label-container">
                                 <label for="page-settings-viewmode-control">View mode</label>
                              </td>
                              <td class="page-settings-control-container" colspan="2">
                                 <select id="page-settings-viewmode-control" class="form-control js-page-settings-viewmode-control">
                                    <option value="0" data-name="TableViewMode" selected="selected">Grid</option>
                                    <option value="1" data-name="CardViewMode">Cards</option>
                                 </select>
                              </td>
                           </tr>
                           <tr>
                              <td rowspan="5" class="page-settings-label-container">
                                 <label>Number of cards in a row</label>
                                 <p>Here you can select the number of cards to be placed in a row for each of supported screen resolutions. Your current resolution is highlighted <strong class="text-success">in this way</strong>.</p>
                              </td>
                           </tr>
                           <tr class="page-settings-hightlight-lg">
                              <td style="width: 25%;">
                                 <label for="page-settings-card-column-count-lg">
                                 Large desktop
                                 </label>
                              </td>
                              <td class="page-settings-control-container">
                                 <select class="form-control js-page-settings-card-column-count" data-size="lg" id="page-settings-card-column-count-lg">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option selected="selected" value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="6">6</option>
                                 </select>
                              </td>
                           </tr>
                           <tr class="page-settings-hightlight-md">
                              <td style="width: 25%;">
                                 <label for="page-settings-card-column-count-md">
                                 Desktop
                                 </label>
                              </td>
                              <td class="page-settings-control-container">
                                 <select class="form-control js-page-settings-card-column-count" data-size="md" id="page-settings-card-column-count-md">
                                    <option value="1">1</option>
                                    <option selected="selected" value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="6">6</option>
                                 </select>
                              </td>
                           </tr>
                           <tr class="page-settings-hightlight-sm">
                              <td style="width: 25%;">
                                 <label for="page-settings-card-column-count-sm">
                                 Tablet
                                 </label>
                              </td>
                              <td class="page-settings-control-container">
                                 <select class="form-control js-page-settings-card-column-count" data-size="sm" id="page-settings-card-column-count-sm">
                                    <option selected="selected" value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="6">6</option>
                                 </select>
                              </td>
                           </tr>
                           <tr class="page-settings-hightlight-xs">
                              <td style="width: 25%;">
                                 <label for="page-settings-card-column-count-xs">
                                 Phone
                                 </label>
                              </td>
                              <td class="page-settings-control-container">
                                 <select class="form-control js-page-settings-card-column-count" data-size="xs" id="page-settings-card-column-count-xs">
                                    <option selected="selected" value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="6">6</option>
                                 </select>
                              </td>
                           </tr>
                        </table>
                     </div>
                     <div class="modal-footer">
                        <a href="#" class="js-page-settings-cancel btn btn-default" data-dismiss="modal">Cancel</a>
                        <a href="#" class="js-page-settings-save btn btn-primary">Save changes</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="well description">
               <a href="#" class="close" onclick="$(this).closest('.well').hide(); return false;"><span aria-hidden="true">&times;</span></a>
               <p>This page lists the teams participated in the 2013-2014 NBA season.  Click &quot;Home games&quot;, &quot;Away games&quot;, or &quot;Roster&quot; links at the bottom of a card to navigate to the corresponding detail page. Click the &quot;Arena&quot; link to locate the team's home arena on the map.
               <p>
               <nav>
                  <ul class="pager">
                     <li class="previous"><a href="players.php"><span aria-hidden="true">&larr;</span> Players</a></li>
                     <li class="next"><a href="arenas.php">Arenas <span aria-hidden="true">&rarr;</span> </a></li>
                  </ul>
               </nav>
            </div>
            <div        class="grid grid-table js-grid"
               id="teamGrid_5b525f06475aa"
               data-selection-id="teamGrid_"
               data-is-master=""
               data-grid-hidden-values="[]"
               data-sortable-columns="{&quot;logo&quot;:{&quot;name&quot;:&quot;logo&quot;,&quot;index&quot;:null,&quot;caption&quot;:&quot;Logo&quot;},&quot;caption&quot;:{&quot;name&quot;:&quot;caption&quot;,&quot;index&quot;:null,&quot;caption&quot;:&quot;Name&quot;},&quot;year_founded&quot;:{&quot;name&quot;:&quot;year_founded&quot;,&quot;index&quot;:null,&quot;caption&quot;:&quot;Founded&quot;},&quot;about&quot;:{&quot;name&quot;:&quot;about&quot;,&quot;index&quot;:null,&quot;caption&quot;:&quot;About&quot;},&quot;current_division_id&quot;:{&quot;name&quot;:&quot;current_division_id_caption&quot;,&quot;index&quot;:null,&quot;caption&quot;:&quot;Division&quot;},&quot;arena_id&quot;:{&quot;name&quot;:&quot;arena_id_caption&quot;,&quot;index&quot;:null,&quot;caption&quot;:&quot;Arena&quot;}}"
               data-column-count="9"
               >
               <div class="addition-block js-actions">
                  <div class="btn-toolbar addition-block-left pull-left">
                     <div class="btn-group">
                        <a class="btn btn-default pgui-add" (click)="openModalAdd()"  title="Add new (Alt+Ctrl+I, Alt+Insert)">
                        <i class="icon-plus"></i>
                        <span class="visible-lg-inline">Add new</span>
                        </a>
                     </div>
                     <div class="btn-group">
                        <a class="btn btn-default" href="teams.php" title="Refresh">
                        <i class="icon-page-refresh"></i>
                        <span class="visible-lg-inline">Refresh</span>
                        </a>
                     </div>
                     <div class="btn-group export-button">
                        <div class="btn-group">
                           <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" title="Export">
                           <i class="icon-export"></i>
                           <span class="visible-lg-inline">Export</span>
                           <span class="caret"></span>
                           </a>
                           <ul class="dropdown-menu">
                              <li><a href="teams.php?operation=epdf">
                                 <i class="icon-export-pdf"></i>
                                 Export to Pdf
                                 </a>
                              </li>
                              <li><a href="teams.php?operation=eexcel">
                                 <i class="icon-export-excel"></i>
                                 Export to Excel
                                 </a>
                              </li>
                              <li><a href="teams.php?operation=eword">
                                 <i class="icon-export-word"></i>
                                 Export to Word
                                 </a>
                              </li>
                              <li><a href="teams.php?operation=exml">
                                 <i class="icon-export-xml"></i>
                                 Export to Xml
                                 </a>
                              </li>
                              <li><a href="teams.php?operation=ecsv">
                                 <i class="icon-export-csv"></i>
                                 Export to Csv
                                 </a>
                              </li>
                           </ul>
                        </div>
                        <div class="btn-group">
                           <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" title="Print">
                           <i class="icon-print-page"></i>
                           <span class="visible-lg-inline">Print</span>
                           <span class="caret"></span>
                           </a>
                           <ul class="dropdown-menu">
                              <li>
                                 <a href="teams.php?operation=printpage">
                                 <i class="icon-print-page"></i>
                                 Print current page
                                 </a>
                              </li>
                              <li>
                                 <a href="teams.php?operation=printall">
                                 <i class="icon-print-page"></i>
                                 Print all pages
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="btn-group js-selection-actions-container fade" style="display: none">
                        <div class="btn-group">
                           <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                           <span class="hidden-xs">
                           <span class="js-count">0</span> item(s) selected
                           </span>
                           <span class="js-count visible-xs-inline">0</span>
                           <span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu">
                              <li><a href="#" class="js-action" data-type="clear">Clear selection</a></li>
                              <li class="divider"></li>
                              <li class="dropdown dropdown-sub-menu">
                                 <a href="#">Export</a>
                                 <ul class="dropdown-menu sub-menu">
                                    <li><a href="#" class="js-action" data-type="export" data-export-type="pdf" data-url="teams.php">Export to Pdf</a></li>
                                    <li><a href="#" class="js-action" data-type="export" data-export-type="excel" data-url="teams.php">Export to Excel</a></li>
                                    <li><a href="#" class="js-action" data-type="export" data-export-type="word" data-url="teams.php">Export to Word</a></li>
                                    <li><a href="#" class="js-action" data-type="export" data-export-type="xml" data-url="teams.php">Export to Xml</a></li>
                                    <li><a href="#" class="js-action" data-type="export" data-export-type="csv" data-url="teams.php">Export to Csv</a></li>
                                 </ul>
                              </li>
                              <li class="divider"></li>
                              <li><a href="#" class="js-action" data-type="print" data-url="teams.php">Print</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="addition-block-right pull-right">
                     <div class="btn-group">
                        <button type="button" class="btn btn-default js-filter-builder-open" title="Edit filter">
                        <i class="icon-filter-alt"></i>
                        </button>
                     </div>
                     <div class="btn-group">
                        <button id="multi-sort-teamGrid_5b525f06475aa" class="btn btn-default" title="Sort" data-toggle="modal" data-target="#multiple-sorting-teamGrid_5b525f06475aa">
                        <i class="icon-sort"></i>
                        </button>
                     </div>
                     <div class="btn-group">
                        <button class="btn btn-default" title="Page settings" data-toggle="modal" data-target="#page-settings">
                        <i class="icon-settings"></i>
                        </button>
                     </div>
                  </div>
                  <div class="addition-block-right pull-right js-quick-filter">
                     <div class="quick-filter-toolbar btn-group">
                        <div class="input-group js-filter-control">
                           <input placeholder="Quick search" type="text" size="16" class="js-input form-control" name="quick_filter" value="">
                           <div class="input-group-btn dropdown dropdown-lg">
                              <button id="toggle-dropdown" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                              <div class="dropdown-menu dropdown-menu-right" role="menu">
                                 <form class="form-horizontal quick-filter">
                                    <div class="form-group form-group-sm">
                                       <label class="control-label" for="quick-filter-fields">Columns</label>
                                       <div class="col-input input-group-sm" style="width:100%;max-width:100%" data-column="quick_filter_fields">
                                          <select id="quick-filter-fields" class="form-control" name="quick_filter_fields[]" multiple data-max-selection-size="0" data-placeholder="All" data-editor="multivalue_select">
                                             <option value="caption" >Name</option>
                                             <option value="logo" >Logo</option>
                                             <option value="year_founded" >Founded</option>
                                             <option value="short_caption" >Short Caption</option>
                                             <option value="about" >About</option>
                                             <option value="current_division_id" >Division</option>
                                          </select>
                                       </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                       <label class="control-label" for="quick-filter-operator">Search condition</label>
                                       <div class="col-input input-group-sm" style="width:100%;max-width:100%" data-column="quick_filter_operator">
                                          <select id="quick-filter-operator" class="form-control" name="quick_filter_operator">
                                             <option value="Contains"  selected>
                                                Contains
                                             </option>
                                             <option value="BeginsWith" >
                                                Begins with
                                             </option>
                                             <option value="EndsWith" >
                                                Ends with
                                             </option>
                                             <option value="Equals" >
                                                Equals
                                             </option>
                                             <option value="DoesNotContain" >
                                                Does not contain
                                             </option>
                                             <option value="DoesNotEqual" >
                                                Does not equal
                                             </option>
                                          </select>
                                       </div>
                                    </div>
                                    <hr class="quick-filter-separator">
                                    <span class="pull-right">
                                    <button type="button" class="js-cancel btn btn-sm btn-default">Cancel</button>
                                    <button type="button" class="js-submit btn btn-sm btn-primary">Apply</button>
                                    </span>
                                 </form>
                              </div>
                              <button type="button" class="btn btn-default js-submit" title="Search"><i class="icon-search"></i></button>
                              <button type="button" class="btn btn-default js-reset" title="Clear"><i class="icon-filter-reset"></i></button>
                           </div>
                        </div>
                     </div>
                     <span class="hidden-xs">&thinsp;</span>
                  </div>
               </div>
               <div class="filter-status js-filter-status">
               </div>
               <div class="js-grid-message-container"></div>
               <table class="table text-center table-striped fixed-header">
                  <thead class="js-column-filter-container">
                     <tr>
                        <th style="width:1%;" rowspan="1">
                           <div class="row-selection">
                              <input type="checkbox">
                           </div>
                        </th>
                        <th
                           colspan="1"
                           rowspan="1"
                           class=" sortable"
                           style="width: 100px;"
                           data-field-caption="Logo"
                           data-name="logo"
                           data-field-name="logo"
                           data-column-name="logo"
                           data-sort-index=""
                           >
                           <span>Website</span>
                        </th>
                        <th
                           colspan="1"
                           rowspan="1"
                           class=" sortable"
                           data-field-caption="Name"
                           data-name="caption"
                           data-field-name="caption"
                           data-column-name="caption"
                           data-sort-index=""
                           >
                           <span>About</span>
                        </th>
                        <th
                           colspan="1"
                           rowspan="1"
                           class="hidden-xs sortable"
                           data-field-caption="Founded"
                           data-name="year_founded"
                           data-field-name="year_founded"
                           data-column-name="year_founded"
                           data-sort-index=""
                           >
                           <span>Caption</span>
                        </th>
                        <th style="width:1%;" rowspan="1">
                           Actions
                        </th>
                     </tr>
                  </thead>
                  <tbody class="pg-row-list">
                     <tr class="pg-row" style="" *ngFor="let team of teams  | paginate: { itemsPerPage: 10, currentPage: p }" >
                        <td style="">
                           <div class="row-selection">
                              <input id="record__1" type="checkbox" name="rec0" data-value="[&quot;1&quot;]" />
                           </div>
                        </td>
                        <td dir="ltr" class="details" style="width: 40px;">
                           <div class="btn-group text-nowrap">
                              {{team.website}}
                           </div>
                        </td>
                        <td data-column-name="logo" data-edit-url="">
                           {{team.about}}
                        </td>
                        <td data-column-name="caption" data-edit-url=""><a href="http://www.nba.com/celtics/" target="_blank">
                           {{team.caption}}
                           </a>
                        </td>
                        <td class="operation-column">
                           <span data-column-name="edit" class="operation-item">
                           <a (click)="openModalEdit(team)" title="Edit" class="link-icon">
                           <i class="icon-edit"></i>
                           </a>
                           </span>
                        </td>
                        <td class="operation-column">
                           <span data-column-name="remove" class="operation-item">
                           <a (click)="openModalDelete(team.id)" title="remove" class="link-icon">
                           <i class="icon-remove"></i>
                           </a>
                           </span>
                        </td>
                     </tr>
                  </tbody>
                  <tfoot>
                     <tr class="data-summary">
                        <td></td>
                        <td></td>
                        <td class=""></td>
                     </tr>
                  </tfoot>
               </table>
               <!-- <Pages> -->
               <div class="page_navigator">
                  <div class="pgui-pagination">
                     <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>
               </div>
               <!-- </Pages> -->
               <div class="modal fade filter-builder modal-top js-filter-builder-modal" tabindex="-1">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                           <h4 class="modal-title">Filter builder</h4>
                        </div>
                        <div class="modal-body">
                           <table class="js-filter-builder-container">
                           </table>
                        </div>
                        <div class="modal-footer">
                           <div class="checkbox pull-left">
                              <label>
                              <input type="checkbox" class="js-filter-builder-disable"> Disable filter
                              </label>
                           </div>
                           <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                           <button type="button" class="btn btn-primary js-filter-builder-commit">Apply</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal fade" id="demo-about" tabindex="-1">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">About this demo</h4>
                     </div>
                     <div class="modal-body">
                        <p>This demo application uses NBA data during 2013-2014 season to show features provided by PHP Generator. Hope it will help you to create even more powerful websites for your users.</p>
                        <p>You can <a href="http://www.sqlmaestro.com/products/mysql/phpgenerator/download/demo_project/" target="_blank">download the demo project</a> from our website and run the demo on your webserver as described in readme.txt.</p>
                     </div>
                     <div class="modal-footer">
                        <a href="http://www.sqlmaestro.com/products/mysql/phpgenerator/download/" class="btn btn-primary" target="_blank">Download PHP Generator Free Trial</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div>
               </div>
            </div>
            <hr>
            <footer>
               <p>
                  &copy;
                  <span class="copyright">
                  2017-2018
                  </span>
                  <a href="http://www.sqlmaestro.com/" target="_blank">SQL Maestro Group</a>. Follow us:
                  <a class="link-icon" href="https://www.facebook.com/SQLMaestro/" target="_blank"><i class="icon-facebook-square"></i></a>
                  <a class="link-icon" href="https://twitter.com/SQLMaestroSoft" target="_blank"><i class="icon-twitter"></i></a>
                  <a class="link-icon" href="https://www.youtube.com/SQLMaestro/" target="_blank"><i class="icon-youtube"></i></a>
               </p>
               <p>Created with <a href="http://www.sqlmaestro.com/products/mysql/phpgenerator/" target="_blank">PHP Generator for MySQL</a>.
                  Want to learn more? <a href="http://www.sqlmaestro.com/products/mysql/phpgenerator/download/" target="_blank">Download the demo project!</a>
               </p>
            </footer>
         </div>
      </div>
   </div>
</div>
<!--Dialog para agregar-->
<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="onCloseHandledAdd()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Agregar registro</h4>
            <input [(ngModel)]="idDelete" type="hidden" class="form-control" placeholder="datosid" aria-describedby="sizing-addon1">
         </div>
         <div class="modal-body">
            <div class="col-md-12 js-form-container" data-form-url="pantallas.php?hname=pantallasPage_form_insert&amp;flash=true">
               <div class="row">
                  <div class="js-form-collection col-lg-8">
                     <form class="form-horizontal" [formGroup]="form">
                        <div class="clearfix"></div>
                        <div class="row">
                           <fieldset class="col-md-12">
                             <div class="row" [ngClass]="displayFieldCss('website')">
                                <div class="form-group col-sm-3 form-group-label"  >
                                   <label class="control-label" for="">
                                      Website
                                      <span class="required-mark">*</span>
                                      <div class="pgui-field-options btn-group btn-group-xs btn-group-justified">
                                      </div>
                                   </label>
                                </div>
                                <div class="form-group col-sm-9">
                                   <div class="col-input" style="width:100%;max-width:100%">
                                      <input id="" name="website" class="form-control" formControlName="website" [(ngModel)]="data.website"  value="" type="text" maxlength="20">
                                   </div>
                                   <app-field-error-display [displayError]="isFieldValid('website')" errorMsg="Por favor ingrese , un website valido">
                                   </app-field-error-display>
                                </div>
                             </div>
                             <div class="row" [ngClass]="displayFieldCss('about')">
                               <div class="form-group col-sm-3 form-group-label">
                                  <label class="control-label" for="Form5b55de6233fcc_estado_edit" data-column="about">
                                     About
                                     <span class="required-mark" style="display: none">*</span>
                                     <div class="pgui-field-options btn-group btn-group-xs btn-group-justified" data-toggle="buttons">
                                     </div>
                                  </label>
                               </div>
                               <div class="form-group col-sm-9">
                                  <div class="col-input" style="width:100%;max-width:100%" data-column="about">
                                     <input type="text" id="about" class="form-control" formControlName="about" [(ngModel)]="data.about" >
                                     <app-field-error-display [displayError]="isFieldValid('about')" errorMsg="Por favor ingrese un dato">
                                     </app-field-error-display>
                                  </div>
                               </div>
                            </div>
                            <div class="row" [ngClass]="displayFieldCss('caption')">
                              <div class="form-group col-sm-3 form-group-label">
                                 <label class="control-label" for="" data-column="cation">
                                    Caption
                                    <span class="required-mark" style="display: none">*</span>
                                    <div class="pgui-field-options btn-group btn-group-xs btn-group-justified" data-toggle="buttons">
                                    </div>
                                 </label>
                              </div>
                              <div class="form-group col-sm-9">
                                 <div class="col-input" style="width:100%;max-width:100%" data-column="caption">
                                    <input type="text" id="caption" class="form-control" formControlName="caption" [(ngModel)]="data.caption">
                                    <app-field-error-display [displayError]="isFieldValid('caption')" errorMsg="Por favor ingrese un dato">
                                    </app-field-error-display>
                                 </div>
                              </div>
                           </div>
                           </fieldset>
                        </div>
                        <div class="row">
                           <div class="col-sm-9 col-sm-offset-3">
                              <span class="required-mark">*</span> - Required field
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
               <div class="form-actions row">
                  <div class="col-lg-8">
                     <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                           <div class="btn-toolbar">
                              <div class="btn-group">
                                 <button type="submit"  (click)="onSubmit()" class="btn btn-primary js-save js-primary-save" title="(Ctrl+Return)">
                                 Save
                                 </button>
                              </div>
                              <div class="btn-group">
                                 <a class="btn btn-default"(click)="onCloseHandledAdd()">Cancel</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal !-->

<!--Dialog para editar-->
<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayEdit}">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="onCloseHandledEdit()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Editar registro</h4>
            <input [(ngModel)]="idDelete" type="hidden" class="form-control" placeholder="datosid" aria-describedby="sizing-addon1">
         </div>
         <div class="modal-body">
           <div class="col-md-12 js-form-container" data-form-url="pantallas.php?hname=pantallasPage_form_insert&amp;flash=true">
              <div class="row">
                 <div class="js-form-collection col-lg-8">
                    <form class="form-horizontal" [formGroup]="form">
                       <div class="clearfix"></div>
                       <div class="row">
                          <fieldset class="col-md-12">
                            <div class="row" [ngClass]="displayFieldCss('website')">
                               <div class="form-group col-sm-3 form-group-label"  >
                                  <label class="control-label" for="">
                                     Website
                                     <span class="required-mark">*</span>
                                     <div class="pgui-field-options btn-group btn-group-xs btn-group-justified">
                                     </div>
                                  </label>
                               </div>
                               <div class="form-group col-sm-9">
                                  <div class="col-input" style="width:100%;max-width:100%">
                                     <input id="" name="website" class="form-control" formControlName="website" [(ngModel)]="data.website"  value="" type="text" maxlength="20">
                                  </div>
                                  <app-field-error-display [displayError]="isFieldValid('website')" errorMsg="Por favor ingrese , un website valido">
                                  </app-field-error-display>
                               </div>
                            </div>
                            <div class="row" [ngClass]="displayFieldCss('about')">
                              <div class="form-group col-sm-3 form-group-label">
                                 <label class="control-label" for="Form5b55de6233fcc_estado_edit" data-column="about">
                                    About
                                    <span class="required-mark" style="display: none">*</span>
                                    <div class="pgui-field-options btn-group btn-group-xs btn-group-justified" data-toggle="buttons">
                                    </div>
                                 </label>
                              </div>
                              <div class="form-group col-sm-9">
                                 <div class="col-input" style="width:100%;max-width:100%" data-column="about">
                                    <input type="text" id="about" class="form-control" formControlName="about" [(ngModel)]="data.about" >
                                    <app-field-error-display [displayError]="isFieldValid('about')" errorMsg="Por favor ingrese un dato">
                                    </app-field-error-display>
                                 </div>
                              </div>
                           </div>
                           <div class="row" [ngClass]="displayFieldCss('caption')">
                             <div class="form-group col-sm-3 form-group-label">
                                <label class="control-label" for="" data-column="cation">
                                   Caption
                                   <span class="required-mark" style="display: none">*</span>
                                   <div class="pgui-field-options btn-group btn-group-xs btn-group-justified" data-toggle="buttons">
                                   </div>
                                </label>
                             </div>
                             <div class="form-group col-sm-9">
                                <div class="col-input" style="width:100%;max-width:100%" data-column="caption">
                                   <input type="text" id="caption" class="form-control" formControlName="caption" [(ngModel)]="data.caption">
                                   <app-field-error-display [displayError]="isFieldValid('caption')" errorMsg="Por favor ingrese un dato">
                                   </app-field-error-display>
                                </div>
                             </div>
                          </div>
                          </fieldset>
                       </div>
                       <div class="row">
                          <div class="col-sm-9 col-sm-offset-3">
                             <span class="required-mark">*</span> - Required field
                          </div>
                       </div>
                    </form>
                 </div>
              </div>
              <div class="form-actions row">
                 <div class="col-lg-8">
                    <div class="row">
                       <div class="col-sm-9 col-sm-offset-3">
                          <div class="btn-toolbar">
                             <div class="btn-group">
                                <button type="submit"  (click)="onSubmitEdit(data)" class="btn btn-primary js-save js-primary-save" title="(Ctrl+Return)">
                                Save
                                </button>
                             </div>
                             <div class="btn-group">
                                <a class="btn btn-default"(click)="onCloseHandledEdit()">Cancel</a>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
         </div>
         <div class="modal-footer">
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal !-->

<!--Confirmacion borrado-->
<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayDelete}">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="onCloseHandledDelete()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Borrado registro</h4>
            <input [(ngModel)]="idDelete" type="hidden" class="form-control" placeholder="datosid" aria-describedby="sizing-addon1">
         </div>
         <div class="modal-body">
            <p>Desea borrar el registro ?</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="delete(idDelete)" >Si</button>
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal !-->
