<div class="wrapper">
   <main class="content">
      <div class="single">
         <section class="trailer">
            <h3>Trailer</h3>
            <div class="trailer_frame">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/x73-573aWfs" frameborder="0" allowfullscreen></iframe>
            </div>
         </section>
         <section class="movie">
            <img src="assets/images/9.jpg">
            <ul>
               <li>Space Between Us</li>
               <li>The first human born on Mars travels to Earth for the first time, experiencing the wonders of the planet through fresh eyes. He embarks on an adventure with a street smart girl to discover how he came to be.</li>
               <li><a href="genre.html">Adventure</a>, <a href="genre.html">Drama</a>, <a href="genre.html">Romance</a></li>
               <li><a href="cast.html">Gary Oldman</a>, <a href="cast.html">Asa Butterfield</a></li>
               <li>12,000 Views</li>
            </ul>
         </section>
         <section class="links">
            <h3>Links</h3>
            <ul class="dlinks">
               <li><a>Download</a></li>
               <li><a href="#">Link1</a></li>
               <li><a href="#">Link2</a></li>
               <li><a href="#">Link3</a></li>
            </ul>
            <ul class="wlinks">
               <li><a>Watch</a></li>
               <li><a href="#">Link1</a></li>
               <li><a href="#">Link2</a></li>
               <li><a href="#">Link3</a></li>
            </ul>
         </section>
         <section class="related">
            <h3>Related movies</h3>
            <div class="relatemovie">
               <a href="#"><img src="assets/images/2.jpg"></a>
               <a href="#"><span class="relatedname">John Wick</span></a>
            </div>
            <div class="relatemovie">
               <a href="#"><img src="assets/images/3.jpg"></a>
               <a href="#"><span class="relatedname">Spider Man Homecoming</span></a>
            </div>
            <div class="relatemovie">
               <a href="#"><img src="assets/images/4.jpg"></a>
               <a href="#"><span class="relatedname">Beauty and Beast</span></a>
            </div>
            <div class="relatemovie">
               <a href="#"><img src="assets/images/5.jpg"></a>
               <a href="#"><span class="relatedname">Pirates of the Caribbean: Dead Men Tell No Tales</span></a>
            </div>
            <div class="relatemovie">
               <a href="#"><img src="assets/images/6.jpg"></a>
               <a href="#"><span class="relatedname">Fifty Shades Darker</span></a>
            </div>
            <div class="relatemovie">
               <a href="#"><img src="assets/images/7.jpg"></a>
               <a href="#"><span class="relatedname">Transformers</span></a>
            </div>
         </section>
         <section class="comments">
            <h3>Comments</h3>
         </section>
      </div>
   </main>
   <footer class="footer">
      <div class="copyright">
         <p>Copyright &copy 2017 www.focusoncode.com</p>
      </div>
      <div class="footermenu">
         <ul>
					 <li><a routerLink="/index" routerLinkActive="active">Home</a></li>
					 <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
				   <li><a routerLink="/terms" routerLinkActive="active">Terms and conditions</a></li>
         </ul>
      </div>
      <div class="tags">
         <ul>
            <li>Watch Free Movies Trailers</li>
            <li>Movie Trailers</li>
            <li>English Subtitled Movies Trailers</li>
            <li>Latest Movies Trailers</li>
            <li>New Movies Trailers</li>
         </ul>
      </div>
   </footer>
</div>
