<header class="header">
<figure class="logo"><a href="index.html"><img src="assets/img/logo.png" alt="Logo"></a></figure>
<nav class="menu">
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a>Genres</a>
      <ul>
        <li><a routerLink="/gener" routerLinkActive="active">Drama</a></li>
        <li><a >Comedy</a></li>
        <li><a href="genre.html">Action</a></li>
        <li><a href="genre.html">Romance</a></li>
      </ul>
    </li>
    <li><a>Year</a>
      <ul>
        <li><a routerLink="/year" routerLinkActive="active">2017</a></li>
        <li><a routerLink="/year" routerLinkActive="active">2016</a></li>
        <li><a routerLink="/year" routerLinkActive="active">2015</a></li>
        <li><a routerLink="/year" routerLinkActive="active">2014</a></li>
      </ul>
    </li>
    <li><a>Language</a>
      <ul>
        <li><a routerLink="/language" routerLinkActive="active">English</a></li>
        <li><a routerLink="/language" routerLinkActive="active">German</a></li>
      </ul>
    </li>
    <li><a routerLink="/mostwatched" routerLinkActive="active">Most Watched</a></li>
    <li class="mobsearch">
      <form class="mobform">
        <input type="text" name="s" class="mobsearchfield" placeholder="Search...">
        <input type="submit" value="" class="mobsearchsubmit">
      </form>
    </li>
  </ul>
</nav>
<form class="search">
  <input type="text" name="s" class="searchfield" placeholder="Search...">
   <input type="submit" value="" class="searchsubmit">
</form>
<div class="toggle"><img src="assets/img/menu.svg"></div>
</header>
<router-outlet></router-outlet>
<!--<app-index></app-index>-->
