	<div class="wrapper">
		<main class="content">
      <section class="centered">
				<h3>Terms and Conditions</h3>
				<div class="textcontent">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor ante quis odio facilisis cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur mattis eu odio a finibus. Duis luctus, urna et pharetra dapibus, diam sapien porttitor nunc, id efficitur mi leo at urna. Praesent iaculis malesuada imperdiet. Pellentesque augue libero, rutrum et ex sed, convallis fringilla felis. Ut lacinia condimentum leo, nec suscipit lorem pellentesque vel. Curabitur cursus et leo ultrices tincidunt. Nam in posuere purus, quis lobortis ipsum. In sagittis nisi id nisi bibendum, eget sodales neque porttitor. Nullam dignissim tellus a sapien faucibus luctus vel nec diam. Donec pulvinar rutrum nulla, vitae lobortis massa imperdiet sit amet. In ullamcorper turpis ac risus placerat, in dignissim odio tristique.
					</p>
					<p>
						Curabitur a velit mollis ipsum placerat vestibulum. Duis imperdiet gravida purus vitae laoreet. Praesent tincidunt tempus fringilla. Nullam ut odio magna. Nam ipsum mi, ullamcorper non metus lobortis, interdum accumsan ante. Cras nisi ex, tempus in volutpat et, tristique at erat. Nunc id imperdiet ex. Morbi luctus at ligula sit amet blandit. Curabitur ut dui nec purus posuere porttitor. Proin tincidunt nisi arcu, non interdum est finibus quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras vel ex at erat malesuada consectetur.
					</p>
					<p>
						Proin justo augue, aliquet sagittis felis sit amet, commodo dictum ipsum. Vestibulum et tincidunt augue. Aenean libero dolor, blandit id cursus ut, iaculis nec purus. Nunc rhoncus pellentesque mi a molestie. In sit amet ultricies mi, vel convallis risus. Donec elementum eros vehicula velit aliquam accumsan. Sed pulvinar, dui eu suscipit ultrices, ligula odio suscipit elit, sed tincidunt enim massa a diam. In tincidunt elit facilisis nisi varius tristique. Sed semper rhoncus feugiat. Sed vestibulum ante scelerisque, blandit felis sed, pharetra felis. In dui augue, gravida sit amet leo non, rutrum porttitor turpis. Donec nec nunc consectetur, cursus enim nec, eleifend orci.
					</p>
				</div>
        </section>
      </main>
	 </div>
	<footer class="footer">
		<div class="copyright"><p>Copyright &copy 2017 www.focusoncode.com</p></div>
		<div class="footermenu">
			<ul>
					<li><a routerLink="/index" routerLinkActive="active">Home</a></li>
					<li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
					<li><a routerLink="/terms" routerLinkActive="active">Terms and conditions</a></li>
			</ul>
		</div>
		<div class="tags">
			<ul>
				<li>Watch Free Movies Trailers</li>
				<li>Movie Trailers</li>
				<li>English Subtitled Movies Trailers</li>
				<li>Latest Movies Trailers</li>
				<li>New Movies Trailers</li>
			</ul>
		</div>
	</footer>
