<div class="wrapper">
   <main class="content">
      <section class="centered">
         <h3>Language: English</h3>
         <div class="movies">
            <div class="mov">
               <a routerLink="/single">
                  <img src="assets/images/9.jpg">
                  <h2 class="movietitle">The Space Between Us</h2>
               </a>
            </div>
            <div class="mov">
               <a routerLink="/single">
                  <img src="assets/images/7.jpg">
                  <h2 class="movietitle">Transformers</h2>
               </a>
            </div>
            <div class="mov">
               <a routerLink="/single">
                  <img src="assets/images/8.jpg">
                  <h2 class="movietitle">XXX</h2>
               </a>
            </div>
            <div class="mov">
               <a routerLink="/single">
                  <img src="assets/images/6.jpg">
                  <h2 class="movietitle">Fifty Shades Darker</h2>
               </a>
            </div>
            <div class="mov">
               <a routerLink="/single">
                  <img src="assets/images/9.jpg">
                  <h2 class="movietitle">The Space Between Us</h2>
               </a>
            </div>
            <div class="mov">
               <a routerLink="/single">
                  <img src="assets/images/9.jpg">
                  <h2 class="movietitle">The Space Between Us</h2>
               </a>
            </div>
            <div class="mov">
               <a routerLink="/single">
                  <img src="assets/images/7.jpg">
                  <h2 class="movietitle">Transformers</h2>
               </a>
            </div>
            <div class="mov">
               <a routerLink="/single">
                  <img src="assets/images/8.jpg">
                  <h2 class="movietitle">XXX</h2>
               </a>
            </div>
            <div class="mov">
               <a routerLink="/single">
                  <img src="assets/images/6.jpg">
                  <h2 class="movietitle">Fifty Shades Darker</h2>
               </a>
            </div>
            <div class="mov">
               <a routerLink="/single">
                  <img src="assets/images/9.jpg">
                  <h2 class="movietitle">The Space Between Us</h2>
               </a>
            </div>
         </div>
         <nav class="pagination">
            <ul>
               <li><a href="#">Prev</a></li>
               <li><a href="#">1</a></li>
               <li><a href="#" class="menuactive">2</a></li>
               <li><a href="#">3</a></li>
               <li><a href="#">...</a></li>
               <li><a href="#">20</a></li>
               <li><a href="#">21</a></li>
               <li><a href="#">Next</a></li>
            </ul>
         </nav>
      </section>
   </main>
   <footer class="footer">
      <div class="copyright">
         <p>Copyright &copy 2017 www.focusoncode.com</p>
      </div>
      <div class="footermenu">
         <ul>
					 <li><a routerLink="/index" routerLinkActive="active">Home</a></li>
					 <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
					<li><a routerLink="/terms" routerLinkActive="active">Terms and conditions</a></li>
         </ul>
      </div>
      <div class="tags">
         <ul>
            <li>Watch Free Movies Trailers</li>
            <li>Movie Trailers</li>
            <li>English Subtitled Movies Trailers</li>
            <li>Latest Movies Trailers</li>
            <li>New Movies Trailers</li>
         </ul>
      </div>
   </footer>
</div>
