<div class="wrapper">
   <main class="content">
      <section class="centered">
         <h3>Drama</h3>
         <div class="movies">
            <div class="mov" *ngFor="let data of genre  |  paginate: { itemsPerPage: 10, currentPage: p }">
               <a routerLink="/single" routerLinkActive="active">
                  <img src="https://image.tmdb.org/t/p/w500/{{data.poster_path}}" height="300" width="200">
                  <h2 class="movietitle">{{data.title}}</h2>
               </a>
            </div>
         </div>
          <nav class="pagination">
            <ul>
              <pagination-controls
               (pageChange)="p = $event">
             </pagination-controls>
            </ul>
         </nav>
      </section>
   </main>
   <footer class="footer">
      <div class="copyright">
         <p>Copyright &copy 2017 www.focusoncode.com</p>
      </div>
      <div class="footermenu">
         <ul>
					 <li><a routerLink="/index" routerLinkActive="active">Home</a></li>
					 <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
					 <li><a routerLink="/terms" routerLinkActive="active">Terms and conditions</a></li>
         </ul>
      </div>
      <div class="tags">
         <ul>
            <li>Watch Free Movies Trailers</li>
            <li>Movie Trailers</li>
            <li>English Subtitled Movies Trailers</li>
            <li>Latest Movies Trailers</li>
            <li>New Movies Trailers</li>
         </ul>
      </div>
   </footer>
</div>
