<p>
    Updatable queries allow you to create pages with quite complex business logic. For example, you can insert or update records in multiple
    tables simultaneously transparently for a user, who just fills an Insert/Edit form and presses Submit. To make a query updatable,
    it is necessary to provide INSERT, UPDATE, and DELETE statements that are executed when a record inserted, updated, and deleted accordingly.
    Please <a href="https://www.sqlmaestro.com/products/mysql/phpgenerator/help/01_02_02_select_queries/" target="_blank">refer to the manual</a>
    to learn how to write such statements.
</p>