<p>
    Using a read-only query as a page data source is as easy as a <a href="data_sources_view.php">view</a>. All you need is to provide a valid SELECT statement and
    <a href="https://www.sqlmaestro.com/products/mysql/phpgenerator/help/01_02_00_select_datasources/" target="_blank">define key columns</a>,
    if they are not determined automatically.
</p>