<p>
    You can create your own filtering tool and use it instead of the built-in tools, or along with them. Usually all you need is to
    insert an HTML code representing your filter form into a template and handle entered parameters within the
    <a href="http://www.sqlmaestro.com/products/mysql/phpgenerator/help/01_03_04_27_on_prepare_page/" target="_blank">OnPreparePage</a> event.
</p>
<p>
    In the example below we created a simple filter form that allows you to filter countries by life expectancy.
</p>
