<div class="jumbotron">
    <div class="container">
        <h1>PHP Generator Feature Demo</h1>
        <p class="lead">
            This demo application contains 100+ pages to explain most of the features provided by
            <a href="https://www.sqlmaestro.com/products/mysql/phpgenerator/" target="_blank">PHP&nbsp;Generator for MySQL</a>.
            You can investigate it online or <a href="https://www.sqlmaestro.com/products/mysql/phpgenerator/download/feature_demo_project/" target="_blank">download the demo project</a>
            from our website and run the demo on your webserver.</p>
        <p class="lead" style="text-align: center;">
            <a class="btn btn-lg btn-primary" href="data_grid_table_view.php"><span class="icon-play"></span>&nbsp;Start the demo</a>
        </p>
    </div>
</div>