	<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navnav" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
			</div>
			<div class="navbar-collapse collapse" id="navnav">
				<ul class="nav navbar-nav navbar-left" id="nav-menu">
					<li class="dropdown">
						<a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" role="button">
						Pokemon
					</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right" id="nav-menu">
					<li class="dropdown">
						<a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"  role="button"><i class="icon-user"></i> System settings <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a (click)="logOut()">Logout</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="container-padding">
					<div class="page-header">
						<ol class="breadcrumb pgui-breadcrumb">
							<li>
								<a><i class="icon-home"></i></a>
							</li>
							<li class="dropdown">Pokemon</li>
						</ol>
						<h1>Pokemon</h1>
					</div>
					<div class="modal modal-top fade js-page-settings-dialog" data-record-count-per-page="20" data-total-record-count="2" id="page-settings" tabindex="-1">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
									<h3 class="modal-title">Page settings</h3>
								</div>
								<div class="modal-body">
									<h4>Appearance</h4>
									<table class="table table-bordered table-condensed form-inline">
										<tr>
											<td class="page-settings-label-container"><label for="page-settings-viewmode-control">View mode</label></td>
											<td class="page-settings-control-container" colspan="2"><select class="form-control js-page-settings-viewmode-control" id="page-settings-viewmode-control">
												<option data-name="TableViewMode" value="0">
													Grid
												</option>
												<option data-name="CardViewMode" selected="selected" value="1">
													Cards
												</option>
											</select></td>
										</tr>
										<tr>
											<td class="page-settings-label-container" rowspan="5">
												<label>Number of cards in a row</label>
												<p>Here you can select the number of cards to be placed in a row for each of supported screen resolutions. Your current resolution is highlighted <strong class="text-success">in this way</strong>.</p>
											</td>
										</tr>
										<tr class="page-settings-hightlight-lg">
											<td style="width: 25%;"><label for="page-settings-card-column-count-lg">Large desktop</label></td>
											<td class="page-settings-control-container"><select class="form-control js-page-settings-card-column-count" data-size="lg" id="page-settings-card-column-count-lg">
												<option value="1">
													1
												</option>
												<option value="2">
													2
												</option>
												<option selected="selected" value="3">
													3
												</option>
												<option value="4">
													4
												</option>
												<option value="6">
													6
												</option>
											</select></td>
										</tr>
										<tr class="page-settings-hightlight-md">
											<td style="width: 25%;"><label for="page-settings-card-column-count-md">Desktop</label></td>
											<td class="page-settings-control-container"><select class="form-control js-page-settings-card-column-count" data-size="md" id="page-settings-card-column-count-md">
												<option value="1">
													1
												</option>
												<option value="2">
													2
												</option>
												<option selected="selected" value="3">
													3
												</option>
												<option value="4">
													4
												</option>
												<option value="6">
													6
												</option>
											</select></td>
										</tr>
										<tr class="page-settings-hightlight-sm">
											<td style="width: 25%;"><label for="page-settings-card-column-count-sm">Tablet</label></td>
											<td class="page-settings-control-container"><select class="form-control js-page-settings-card-column-count" data-size="sm" id="page-settings-card-column-count-sm">
												<option value="1">
													1
												</option>
												<option selected="selected" value="2">
													2
												</option>
												<option value="3">
													3
												</option>
												<option value="4">
													4
												</option>
												<option value="6">
													6
												</option>
											</select></td>
										</tr>
										<tr class="page-settings-hightlight-xs">
											<td style="width: 25%;"><label for="page-settings-card-column-count-xs">Phone</label></td>
											<td class="page-settings-control-container"><select class="form-control js-page-settings-card-column-count" data-size="xs" id="page-settings-card-column-count-xs">
												<option selected="selected" value="1">
													1
												</option>
												<option value="2">
													2
												</option>
												<option value="3">
													3
												</option>
												<option value="4">
													4
												</option>
												<option value="6">
													6
												</option>
											</select></td>
										</tr>
									</table>
									<h4>Page size</h4>
									<p>Total record count: 2.</p>
									<table class="table table-bordered table-condensed form-inline">
										<tr>
											<th style="width:50%;"><label for="page-settings-page-size-control">Records per page</label></th>
											<td class="page-settings-control-container"><span class="js-page-settings-page-size-container"><select class="form-control js-page-settings-page-size-control" id="page-settings-page-size-control">
												<option value="10">
													10 (1 pages)
												</option>
												<option value="20">
													20 (1 pages)
												</option>
												<option value="50">
													50 (1 pages)
												</option>
												<option value="100">
													100 (1 pages)
												</option>
												<option value="0">
													ALL (1 pages)
												</option>
												<option value="custom">
													Custom
												</option>
											</select></span> <span class="js-page-settings-custom-page-size-container" style="display: none"><input class="js-page-settings-custom-page-size-control form-control" id="page-settings-custom-page-size-control" max="2" min="1" type="number" value="20"> <span style="margin-left: .5em;"><span class="js-page-settings-custom-page-size-pager"></span> page(s).</span></span></td>
										</tr>
									</table>
								</div>
								<div class="modal-footer">
									<a class="js-page-settings-cancel btn btn-default" data-dismiss="modal">Cancel</a> <a class="js-page-settings-save btn btn-primary">Save changes</a>
								</div>
							</div>
						</div>
					</div><!-- <Pages> -->
					<div class="grid grid-table grid-card js-grid" data-column-count="6" data-grid-hidden-values="[]" data-is-master="" data-selection-id="pokemonGrid_" data-sortable-columns="{&quot;nombre_pokemon&quot;:{&quot;name&quot;:&quot;nombre_pokemon&quot;,&quot;index&quot;:null,&quot;caption&quot;:&quot;Nombre Pokemon&quot;},&quot;imagen&quot;:{&quot;name&quot;:&quot;imagen&quot;,&quot;index&quot;:null,&quot;caption&quot;:&quot;Imagen&quot;},&quot;type&quot;:{&quot;name&quot;:&quot;type&quot;,&quot;index&quot;:null,&quot;caption&quot;:&quot;Type&quot;}}" id="pokemonGrid_5dd587d5c43ce">
						<div class="addition-block js-actions">
							<div class="btn-toolbar addition-block-left pull-left">
								<div class="btn-group">
									<a class="btn btn-default pgui-add" title="Add new"><i class="icon-plus"></i> <span class="visible-lg-inline">Add new</span></a>
								</div>
								<div class="btn-group">
									<a class="btn btn-default" title="Refresh"><i class="icon-page-refresh"></i> <span class="visible-lg-inline">Refresh</span></a>
								</div>
								<div class="btn-group export-button">
									<div class="btn-group">
										<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Export"><i class="icon-export"></i> <span class="visible-lg-inline">Export</span> <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li>
												<a><i class="icon-export-pdf"></i> Export to Pdf</a>
											</li>
											<li>
												<a><i class="icon-export-excel"></i> Export to Excel</a>
											</li>
											<li>
												<a><i class="icon-export-word"></i> Export to Word</a>
											</li>
											<li>
												<a><i class="icon-export-xml"></i> Export to Xml</a>
											</li>
											<li>
												<a><i class="icon-export-csv"></i> Export to Csv</a>
											</li>
										</ul>
									</div>
									<div class="btn-group">
										<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Print"><i class="icon-print-page"></i> <span class="visible-lg-inline">Print</span> <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li>
												<a><i class="icon-print-page"></i> Print current page</a>
											</li>
											<li>
												<a><i class="icon-print-page"></i> Print all pages</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="btn-group js-selection-actions-container fade" style="display: none">
									<div class="btn-group">
										<button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="hidden-xs"><span class="js-count">0</span> item(s) selected</span> <span class="js-count visible-xs-inline">0</span> <span class="caret"></span></button>
										<ul class="dropdown-menu">
											<li>
												<a class="js-action" data-type="clear">Clear</a>
											</li>
											<li class="divider"></li>
											<li class="dropdown dropdown-sub-menu">
												<a>Selection filter</a>
												<ul class="dropdown-menu sub-menu">
													<li>
														<a class="js-action" data-condition="selected" data-type="select" data-url="">Show selected only</a>
													</li>
													<li class="divider"></li>
													<li>
														<a class="js-action" data-condition="unselected" data-type="select" data-url="">Show unselected only</a>
													</li>
													<li class="divider"></li>
													<li>
														<a class="js-action" data-condition="all" data-type="select" data-url="">Show all</a>
													</li>
												</ul>
											</li>
											<li class="divider"></li>
											<li>
												<a class="js-action" data-type="compare" data-url="">Compare</a>
											</li>
											<li class="divider"></li>
											<li class="dropdown dropdown-sub-menu">
												<a>Export</a>
												<ul class="dropdown-menu sub-menu">
													<li>
														<a class="js-action" data-export-type="pdf" data-type="export" data-url="">Export to Pdf</a>
													</li>
													<li>
														<a class="js-action" data-export-type="excel" data-type="export" data-url="">Export to Excel</a>
													</li>
													<li>
														<a class="js-action" data-export-type="word" data-type="export" data-url="">Export to Word</a>
													</li>
													<li>
														<a class="js-action" data-export-type="xml" data-type="export" data-url="">Export to Xml</a>
													</li>
													<li>
														<a class="js-action" data-export-type="csv" data-type="export" data-url="">Export to Csv</a>
													</li>
												</ul>
											</li>
											<li class="divider"></li>
											<li>
												<a class="js-action" data-type="print" data-url="">Print</a>
											</li>
											<li class="divider"></li>
											<li>
												<a class="js-action" data-type="update" data-url="">Update</a>
											</li>
											<li class="divider"></li>
											<li>
												<a class="js-action" data-type="delete" data-url="">Delete</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="addition-block-right pull-right">
								<div class="btn-group">
									<button class="btn btn-default js-filter-builder-open" title="Edit filter" type="button"><i class="icon-filter-alt"></i></button>
								</div>
								<div class="btn-group">
									<button class="btn btn-default" data-target="#multiple-sorting-pokemonGrid_5dd587d5c43ce" data-toggle="modal" id="multi-sort-pokemonGrid_5dd587d5c43ce" title="Sort"><i class="icon-sort"></i></button>
								</div>
								<div class="btn-group">
									<button class="btn btn-default" data-target="#page-settings" data-toggle="modal" title="Page settings"><i class="icon-settings"></i></button>
								</div>
							</div>
							<div class="addition-block-right pull-right js-quick-filter">
								<div class="quick-filter-toolbar btn-group">
									<div class="input-group js-filter-control">
										<input class="js-input form-control" [(ngModel)]="stringSearch" name="quick_filter" placeholder="Search for name" size="16" type="text" value="">
										<div class="input-group-btn dropdown dropdown-lg">
											<button class="btn btn-default js-submit" title="Search" type="button" (click)="search()">
												<i class="icon-search"></i>
											</button>
												<button class="btn btn-default js-reset" title="Clear" type="button" (click)="noFilter()">
													<i class="icon-filter-reset"></i>
												</button>
										</div>
									</div>
								</div><span class="hidden-xs">&thinsp;</span>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="filter-status js-filter-status"></div>
						<div class="js-grid-message-container"></div>
						<div class="row">
							<div class="table-striped col-md-12">
								<div class="pg-row-list row">
									<div class="grid-card-item col-lg-4 col-md-4 col-sm-6 col-xs-12 pg-row" *ngFor="let mypokemon of listpokemon | paginate: { itemsPerPage: 19, currentPage: p } ; index as i  ">
										<div class="well" style="">
											<div class="row-selection pull-left">
												<input data-value="[&quot;1&quot;]" id="record__1" name="rec0" type="checkbox">
											</div>
											<div class="grid-card-item-control pull-right">
												<div class="details pull-left" dir="ltr" style="">
													<div class="btn-group text-nowrap">
														<a class="expand-details collapsed js-expand-details link-icon" data-info="" title="Show/hide details"><i class="icon-detail-plus"></i><i class="icon-detail-minus"></i></a><a class="link-icon" data-toggle="dropdown" title="Go to master/detail page"><i class="icon-detail-additional"></i></a>
														<ul class="dropdown-menu">
															<li>
																<a>Detalle Pokemon</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="operation-column pull-left">
													<span class="operation-item" data-column-name="view"><a class="link-icon" title="View"><i class="icon-view"></i></a></span> <span class="operation-item" data-column-name="edit"><a class="link-icon" title="Edit"><i class="icon-edit"></i></a></span> <span class="operation-item" data-column-name="delete"><a class="link-icon" data-delete-handler-name="pokemonPage_modal_delete" data-modal-operation="delete"  title="Delete"><i class="icon-remove"></i></a></span> <span class="operation-item" data-column-name="copy"><a class="link-icon" title="Copy"><i class="icon-copy"></i></a></span>
												</div>
											</div>
											<div class="grid-card-item-data">
												<table class="table">
													<tr>
														<th>Nombre Pokemon</th>
														<td class=" pgui-cell-edit" data-column-name="nombre_pokemon" data-edit-url="">{{mypokemon.name}}</td>
													</tr>
													<tr>
														<th>Imagen</th>
														<td class=" pgui-cell-edit" data-column-name="imagen" data-edit-url="">
															<a class="image gallery-item" data-name="imagen" title="">
															</a>
															<a (click)="OnClickRouter(mypokemon.url)">
																<img alt="" data-image-column="true" [src]="setImage(i)" title="Click on the image to see the detail">
															</a>
														</td>
													</tr>
													<tr>
														<th>Type</th>
														<td class=" pgui-cell-edit" data-column-name="type" data-edit-url="">{{setType(i)}}</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="grid-card-item col-xs-12" style="display: none;">
									<div class="well grid-details grid-details-card js-content">
										<button class="close js-close" type="button">×</button>
										<div class="grid-details-loading js-loading" style="display: none;"><img src="assets/components/assets/img/loading.gif"></div>
										<div>
											<ul class="nav nav-tabs grid-details-tabs">
												<li class="active">
													<a data-toggle="tab">Detalle Pokemon</a>
												</li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane active" id="detail-21793064189992228">
													<p>Showing first 1 of 1 records (<a>full view</a>)</p>
													<div class="grid grid-table js-grid" data-column-count="11" data-grid-hidden-values="{&quot;hname&quot;:&quot;pokemon_detalle_pokemon_handler&quot;,&quot;fk0&quot;:&quot;1&quot;}" data-is-master="" data-selection-id="pokemon_detalle_pokemonGrid_1" data-sortable-columns="[]" id="pokemon_detalle_pokemonGrid_5dd58a53dff6c">
														<div class="addition-block js-actions">
															<div class="btn-toolbar addition-block-left pull-left">
																<div class="btn-group">
																	<a class="btn btn-default pgui-add" title="Add new"><i class="icon-plus"></i> <span class="visible-lg-inline">Add new</span></a>
																</div>
																<div class="btn-group export-button">
																	<div class="btn-group">
																		<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Export"><i class="icon-export"></i> <span class="visible-lg-inline">Export</span> <span class="caret"></span></a>
																		<ul class="dropdown-menu">
																			<li>
																				<a><i class="icon-export-pdf"></i> Export to Pdf</a>
																			</li>
																			<li>
																				<a><i class="icon-export-excel"></i> Export to Excel</a>
																			</li>
																			<li>
																				<a><i class="icon-export-word"></i> Export to Word</a>
																			</li>
																			<li>
																				<a><i class="icon-export-xml"></i> Export to Xml</a>
																			</li>
																			<li>
																				<a><i class="icon-export-csv"></i> Export to Csv</a>
																			</li>
																		</ul>
																	</div>
																	<div class="btn-group">
																		<a aria-expanded="false" class="btn btn-default dropdown-toggle" data-toggle="dropdown"  title="Print"><i class="icon-print-page"></i> <span class="visible-lg-inline">Print</span> <span class="caret"></span></a>
																		<ul class="dropdown-menu">
																			<li>
																				<a><i class="icon-print-page"></i> Print current page</a>
																			</li>
																			<li>
																				<a><i class="icon-print-page"></i> Print all pages</a>
																			</li>
																		</ul>
																	</div>
																</div>
																<div class="btn-group js-selection-actions-container fade" style="display: none">
																	<div class="btn-group">
																		<button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="hidden-xs"><span class="js-count">0</span> item(s) selected</span> <span class="js-count visible-xs-inline">0</span> <span class="caret"></span></button>
																		<ul class="dropdown-menu">
																			<li>
																				<a class="js-action" data-type="clear">Clear</a>
																			</li>
																			<li class="divider"></li>
																			<li class="dropdown dropdown-sub-menu">
																				<a>Selection filter</a>
																				<ul class="dropdown-menu sub-menu">
																					<li>
																						<a class="js-action" data-condition="selected" data-type="select" data-url="">Show selected only</a>
																					</li>
																					<li class="divider"></li>
																					<li>
																						<a class="js-action" data-condition="unselected" data-type="select" data-url="">Show unselected only</a>
																					</li>
																					<li class="divider"></li>
																					<li>
																						<a class="js-action" data-condition="all" data-type="select" data-url="">Show all</a>
																					</li>
																				</ul>
																			</li>
																			<li class="divider"></li>
																			<li>
																				<a class="js-action" data-type="compare" data-url="">Compare</a>
																			</li>
																			<li class="divider"></li>
																			<li class="dropdown dropdown-sub-menu">
																				<a>Export</a>
																				<ul class="dropdown-menu sub-menu">
																					<li>
																						<a class="js-action" data-export-type="pdf" data-type="export" data-url="">Export to Pdf</a>
																					</li>
																					<li>
																						<a class="js-action" data-export-type="excel" data-type="export" data-url="">Export to Excel</a>
																					</li>
																					<li>
																						<a class="js-action" data-export-type="word" data-type="export" data-url="">Export to Word</a>
																					</li>
																					<li>
																						<a class="js-action" data-export-type="xml" data-type="export" data-url="">Export to Xml</a>
																					</li>
																					<li>
																						<a class="js-action" data-export-type="csv" data-type="export" data-url="">Export to Csv</a>
																					</li>
																				</ul>
																			</li>
																			<li class="divider"></li>
																			<li>
																				<a class="js-action" data-type="print" data-url="">Print</a>
																			</li>
																			<li class="divider"></li>
																			<li>
																				<a class="js-action" data-type="update" data-url="">Update</a>
																			</li>
																			<li class="divider"></li>
																			<li>
																				<a class="js-action" data-type="delete" data-url="">Delete</a>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
														<div class="js-grid-message-container"></div>
														<table class="table text-center table-striped">
															<thead class="js-column-filter-container">
																<tr>
																	<th class="row-selection" rowspan="1" style="width:1%;"><input type="checkbox"></th>
																	<th rowspan="1" style="width:1%;">Actions</th>
																	<th class="" colspan="1" data-column-name="id" data-field-caption="Id" data-field-name="id" data-name="id" data-sort-index="" rowspan="1"><span>Id</span></th>
																	<th class="" colspan="1" data-column-name="imagen" data-field-caption="Imagen" data-field-name="imagen" data-name="imagen" data-sort-index="" rowspan="1"><span>Imagen</span></th>
																	<th class="" colspan="1" data-column-name="nombre" data-field-caption="Nombre" data-field-name="nombre" data-name="nombre" data-sort-index="" rowspan="1"><span>Nombre</span></th>
																	<th class="" colspan="1" data-column-name="tipo/tipos" data-field-caption="Tipo/tipos" data-field-name="tipo/tipos" data-name="tipo/tipos" data-sort-index="" rowspan="1"><span>Tipo/tipos</span></th>
																	<th class="" colspan="1" data-column-name="altura" data-field-caption="Altura" data-field-name="altura" data-name="altura" data-sort-index="" rowspan="1"><span>Altura</span></th>
																	<th class="" colspan="1" data-column-name="peso" data-field-caption="Peso" data-field-name="peso" data-name="peso" data-sort-index="" rowspan="1"><span>Peso</span></th>
																	<th class="" colspan="1" data-column-name="lista_movimientos" data-field-caption="Lista Movimientos" data-field-name="lista_movimientos" data-name="lista_movimientos" data-sort-index="" rowspan="1"><span>Lista Movimientos</span></th>
																	<th class="" colspan="1" data-column-name="cadena_evolucion" data-field-caption="Cadena Evolucion" data-field-name="cadena_evolucion" data-name="cadena_evolucion" data-sort-index="" rowspan="1"><span>Cadena Evolucion</span></th>
																	<th class="" colspan="1" data-column-name="id_detalle" data-field-caption="Id Detalle" data-field-name="id_detalle" data-name="id_detalle" data-sort-index="" rowspan="1"><span>Id Detalle</span></th>
																</tr>
															</thead>
															<tbody class="pg-row-list">
																<tr class="pg-row" style="">
																	<td style="">
																		<div class="row-selection">
																			<input data-value="[&quot;1&quot;]" id="record__1" name="rec0" type="checkbox">
																		</div>
																	</td>
																	<td class="operation-column"><span class="operation-item" data-column-name="view"><a class="link-icon" title="View"><i class="icon-view"></i></a></span> <span class="operation-item" data-column-name="edit"><a class="link-icon" title="Edit"><i class="icon-edit"></i></a></span> <span class="operation-item" data-column-name="delete"><a class="link-icon" data-delete-handler-name="pokemon_detalle_pokemonPage_modal_delete" data-modal-operation="delete" title="Delete"><i class="icon-remove"></i></a></span> <span class="operation-item" data-column-name="copy"><a class="link-icon"  title="Copy"><i class="icon-copy"></i></a></span></td>
																	<td data-column-name="id" data-edit-url="">1</td>
																	<td class=" pgui-cell-edit" data-column-name="imagen" data-edit-url="">
																		<a class="image gallery-item" data-name="imagen" title=""><img alt="" data-image-column="true" height="150" src="" width="150"></a>
																	</td>
																	<td class=" pgui-cell-edit" data-column-name="nombre" data-edit-url="">3</td>
																	<td class=" pgui-cell-edit" data-column-name="tipo/tipos" data-edit-url="">4</td>
																	<td class=" pgui-cell-edit" data-column-name="altura" data-edit-url="">4</td>
																	<td class=" pgui-cell-edit" data-column-name="peso" data-edit-url="">5</td>
																	<td class=" pgui-cell-edit" data-column-name="lista_movimientos" data-edit-url="">5</td>
																	<td class=" pgui-cell-edit" data-column-name="cadena_evolucion" data-edit-url="">5</td>
																	<td class=" pgui-cell-edit" data-column-name="id_detalle" data-edit-url="">1</td>
																</tr>
																<tr class="empty-grid hidden">
																	<td colspan="11">
																		<div class="alert alert-warning empty-grid">
																			There are no records to display
																		</div>
																	</td>
																</tr>
															</tbody>
															<tfoot></tfoot>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="grid-card-item col-xs-12" style="display: none">
									<div class="well grid-details grid-details-card js-content">
										<button class="close js-close" type="button">×</button>
										<div class="grid-details-loading js-loading" style="display: none;"><img src="assets/components/assets/img/loading.gif"></div>
										<div>
											<ul class="nav nav-tabs grid-details-tabs">
												<li class="active">
													<a data-toggle="tab">Detalle Pokemon</a>
												</li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane active" id="detail-139763808719158386">
													<p>Showing first 1 of 1 records (<a>full view</a>)</p>
													<div class="grid grid-table js-grid" data-column-count="11" data-grid-hidden-values="{&quot;hname&quot;:&quot;pokemon_detalle_pokemon_handler&quot;,&quot;fk0&quot;:&quot;2&quot;}" data-is-master="" data-selection-id="pokemon_detalle_pokemonGrid_2" data-sortable-columns="[]" id="pokemon_detalle_pokemonGrid_5dd58ef5aeec6">
														<div class="addition-block js-actions">
															<div class="btn-toolbar addition-block-left pull-left">
																<div class="btn-group">
																	<a class="btn btn-default pgui-add" title="Add new"><i class="icon-plus"></i> <span class="visible-lg-inline">Add new</span></a>
																</div>
																<div class="btn-group export-button">
																	<div class="btn-group">
																		<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Export"><i class="icon-export"></i> <span class="visible-lg-inline">Export</span> <span class="caret"></span></a>
																		<ul class="dropdown-menu">
																			<li>
																				<a><i class="icon-export-pdf"></i> Export to Pdf</a>
																			</li>
																			<li>
																				<a><i class="icon-export-excel"></i> Export to Excel</a>
																			</li>
																			<li>
																				<a><i class="icon-export-word"></i> Export to Word</a>
																			</li>
																			<li>
																				<a><i class="icon-export-xml"></i> Export to Xml</a>
																			</li>
																			<li>
																				<a><i class="icon-export-csv"></i> Export to Csv</a>
																			</li>
																		</ul>
																	</div>
																	<div class="btn-group">
																		<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Print"><i class="icon-print-page"></i> <span class="visible-lg-inline">Print</span> <span class="caret"></span></a>
																		<ul class="dropdown-menu">
																			<li>
																				<a><i class="icon-print-page"></i> Print current page</a>
																			</li>
																			<li>
																				<a><i class="icon-print-page"></i> Print all pages</a>
																			</li>
																		</ul>
																	</div>
																</div>
																<div class="btn-group js-selection-actions-container fade" style="display: none">
																	<div class="btn-group">
																		<button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="hidden-xs"><span class="js-count">0</span> item(s) selected</span> <span class="js-count visible-xs-inline">0</span> <span class="caret"></span></button>
																		<ul class="dropdown-menu">
																			<li>
																				<a class="js-action" data-type="clear">Clear</a>
																			</li>
																			<li class="divider"></li>
																			<li class="dropdown dropdown-sub-menu">
																				<a>Selection filter</a>
																				<ul class="dropdown-menu sub-menu">
																					<li>
																						<a class="js-action" data-condition="selected" data-type="select" data-url="">Show selected only</a>
																					</li>
																					<li class="divider"></li>
																					<li>
																						<a class="js-action" data-condition="unselected" data-type="select" data-url="">Show unselected only</a>
																					</li>
																					<li class="divider"></li>
																					<li>
																						<a class="js-action" data-condition="all" data-type="select" data-url="">Show all</a>
																					</li>
																				</ul>
																			</li>
																			<li class="divider"></li>
																			<li>
																				<a class="js-action" data-type="compare" data-url="">Compare</a>
																			</li>
																			<li class="divider"></li>
																			<li class="dropdown dropdown-sub-menu">
																				<a>Export</a>
																				<ul class="dropdown-menu sub-menu">
																					<li>
																						<a class="js-action" data-export-type="pdf" data-type="export" data-url="">Export to Pdf</a>
																					</li>
																					<li>
																						<a class="js-action" data-export-type="excel" data-type="export" data-url="">Export to Excel</a>
																					</li>
																					<li>
																						<a class="js-action" data-export-type="word" data-type="export" data-url="">Export to Word</a>
																					</li>
																					<li>
																						<a class="js-action" data-export-type="xml" data-type="export" data-url="">Export to Xml</a>
																					</li>
																					<li>
																						<a class="js-action" data-export-type="csv" data-type="export" data-url="">Export to Csv</a>
																					</li>
																				</ul>
																			</li>
																			<li class="divider"></li>
																			<li>
																				<a class="js-action" data-type="print" data-url="">Print</a>
																			</li>
																			<li class="divider"></li>
																			<li>
																				<a class="js-action" data-type="update" data-url="">Update</a>
																			</li>
																			<li class="divider"></li>
																			<li>
																				<a class="js-action" data-type="delete" data-url="">Delete</a>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
														<div class="js-grid-message-container"></div>
														<table class="table text-center table-striped">
															<thead class="js-column-filter-container">
																<tr>
																	<th class="row-selection" rowspan="1" style="width:1%;"><input type="checkbox"></th>
																	<th rowspan="1" style="width:1%;">Actions</th>
																	<th class="" colspan="1" data-column-name="id" data-field-caption="Id" data-field-name="id" data-name="id" data-sort-index="" rowspan="1"><span>Id</span></th>
																	<th class="" colspan="1" data-column-name="imagen" data-field-caption="Imagen" data-field-name="imagen" data-name="imagen" data-sort-index="" rowspan="1"><span>Imagen</span></th>
																	<th class="" colspan="1" data-column-name="nombre" data-field-caption="Nombre" data-field-name="nombre" data-name="nombre" data-sort-index="" rowspan="1"><span>Nombre</span></th>
																	<th class="" colspan="1" data-column-name="tipo/tipos" data-field-caption="Tipo/tipos" data-field-name="tipo/tipos" data-name="tipo/tipos" data-sort-index="" rowspan="1"><span>Tipo/tipos</span></th>
																	<th class="" colspan="1" data-column-name="altura" data-field-caption="Altura" data-field-name="altura" data-name="altura" data-sort-index="" rowspan="1"><span>Altura</span></th>
																	<th class="" colspan="1" data-column-name="peso" data-field-caption="Peso" data-field-name="peso" data-name="peso" data-sort-index="" rowspan="1"><span>Peso</span></th>
																	<th class="" colspan="1" data-column-name="lista_movimientos" data-field-caption="Lista Movimientos" data-field-name="lista_movimientos" data-name="lista_movimientos" data-sort-index="" rowspan="1"><span>Lista Movimientos</span></th>
																	<th class="" colspan="1" data-column-name="cadena_evolucion" data-field-caption="Cadena Evolucion" data-field-name="cadena_evolucion" data-name="cadena_evolucion" data-sort-index="" rowspan="1"><span>Cadena Evolucion</span></th>
																	<th class="" colspan="1" data-column-name="id_detalle" data-field-caption="Id Detalle" data-field-name="id_detalle" data-name="id_detalle" data-sort-index="" rowspan="1"><span>Id Detalle</span></th>
																</tr>
															</thead>
															<tbody class="pg-row-list">
																<tr class="pg-row" style="">
																	<td style="">
																		<div class="row-selection">
																			<input data-value="[&quot;2&quot;]" id="record__2" name="rec0" type="checkbox">
																		</div>
																	</td>
																	<td class="operation-column"><span class="operation-item" data-column-name="view"><a class="link-icon" title="View"><i class="icon-view"></i></a></span> <span class="operation-item" data-column-name="edit"><a class="link-icon"  title="Edit"><i class="icon-edit"></i></a></span> <span class="operation-item" data-column-name="delete"><a class="link-icon" data-delete-handler-name="pokemon_detalle_pokemonPage_modal_delete" data-modal-operation="delete"  title="Delete"><i class="icon-remove"></i></a></span> <span class="operation-item" data-column-name="copy"><a class="link-icon"  title="Copy"><i class="icon-copy"></i></a></span></td>
																	<td data-column-name="id" data-edit-url="">2</td>
																	<td class=" pgui-cell-edit" data-column-name="imagen" data-edit-url="">
																		<a class="image gallery-item" data-name="imagen" title=""><img alt="" data-image-column="true" height="150" src="" width="150"></a>
																	</td>
																	<td class=" pgui-cell-edit" data-column-name="nombre" data-edit-url="">4</td>
																	<td class=" pgui-cell-edit" data-column-name="tipo/tipos" data-edit-url="">5</td>
																	<td class=" pgui-cell-edit" data-column-name="altura" data-edit-url="">6</td>
																	<td class=" pgui-cell-edit" data-column-name="peso" data-edit-url="">7</td>
																	<td class=" pgui-cell-edit" data-column-name="lista_movimientos" data-edit-url="">8</td>
																	<td class=" pgui-cell-edit" data-column-name="cadena_evolucion" data-edit-url="">9</td>
																	<td class=" pgui-cell-edit" data-column-name="id_detalle" data-edit-url="">2</td>
																</tr>
																<tr class="empty-grid hidden">
																	<td colspan="11">
																		<div class="alert alert-warning empty-grid">
																			There are no records to display
																		</div>
																	</td>
																</tr>
															</tbody>
															<tfoot></tfoot>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal multiple-sorting modal-top fade" id="multiple-sorting-pokemonGrid_5dd587d5c43ce" tabindex="-1">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">Multiple Sort</h4>
									</div>
									<div class="modal-body">
										<div class="fixed-table-container">
											<table class="table table-vcenter multiple-sorting-table">
												<thead>
													<tr>
														<td class="header-panel" colspan="3">
															<div class="btn-toolbar pull-left">
																<div class="btn-group">
																	<button class="btn btn-default add-sorting-level"><i class="icon-plus"></i> Add level</button> <button class="btn btn-default delete-sorting-level"><i class="icon-minus"></i> Delete level</button>
																</div>
															</div>
														</td>
													</tr>
													<tr class="header">
														<th style="width: 6em;"></th>
														<th>Column</th>
														<th>Order</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button> <button class="sort-button btn btn-primary" type="button">Sort</button>
									</div>
								</div>
							</div>
						</div>
						<div class="modal fade filter-builder modal-top js-filter-builder-modal" tabindex="-1">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title">Filter builder</h4>
									</div>
									<div class="modal-body">
										<table class="js-filter-builder-container"></table>
									</div>
									<div class="modal-footer">
										<div class="checkbox pull-left">
											<label><input class="js-filter-builder-disable" type="checkbox"> Disable filter</label>
										</div><button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button> <button class="btn btn-primary js-filter-builder-commit" type="button">Apply</button>
									</div>
								</div>
							</div>
						</div>
					</div><!-- <Pages> -->
					<div class="page_navigator">
						<div class="pgui-pagination">
							<pagination-controls	(pageChange)="p = $event">
						  </pagination-controls>
						</div>
					</div><!-- </Pages> -->
				</div>
			</div>
		</div>
	</div>
