<div class="wrapper">
   <!-- Swiper -->
   <div class="homeslider">
      <div class="swiper-container">
         <div class="swiper-wrapper">
            <div class="swiper-slide">
               <img src="assets/images/slider/poster2.jpg">
               <div class="caption">
                  <div class="captioninside">
                     <h3>Movie Title</h3>
                     <p>Lorem ipsum dolor siamet</p>
                     <a routerLink="/single" routerLinkActive="active" class="playbutton">Play</a>
                  </div>
               </div>
            </div>
            <div class="swiper-slide">
               <img src="assets/images/slider/poster1.jpg">
               <div class="caption">
                  <div class="captioninside">
                     <h3>Movie Title 2</h3>
                     <p>Lorem ipsum dolor siamet</p>
                     <a routerLink="/single" routerLinkActive="active" class="playbutton">Play</a>
                  </div>
               </div>
            </div>
            <div class="swiper-slide">
               <img src="assets/images/slider/poster2.jpg">
               <div class="caption">
                  <div class="captioninside">
                     <h3>Movie Title 3</h3>
                     <p>Lorem ipsum dolor siamet</p>
                     <a routerLink="/single" routerLinkActive="active" class="playbutton">Play</a>
                  </div>
               </div>
            </div>
         </div>
         <!-- Add Pagination -->
         <div class="swiper-pagination"></div>
      </div>
   </div>
   <main class="content">
      <section class="panel">
         <h2>Most Popular </h2>
         <div class="recentslider">
            <div class="swiper-container" >
               <div  class="swiper-wrapper">
                  <div class="swiper-slide" *ngFor="let data of moviesatched">
                     <a routerLink="/single" routerLinkActive="active">
                        <img src="https://image.tmdb.org/t/p/w500/{{data.poster_path}}" height="300" width="200">
                        <h3 class="hometitle">{{data.title}}</h3>
                     </a>
                  </div>
               </div>
               <div class="nextdirection recent-next"><img src="assets/img/right-arrow.svg"> </div>
               <div class="leftdirection recent-prev"><img src="assets/img/left-arrow.svg"> </div>
            </div>
         </div>
      </section>

      <section class="panel">
         <h2> Highest Rated Movies</h2>
         <div class="mostslider">
            <div class="swiper-container">
               <div class="swiper-wrapper">
                  <div class="swiper-slide" *ngFor="let moviesrec of moviesrecently">
                     <a routerLink="/single" routerLinkActive="active">
                        <img src="https://image.tmdb.org/t/p/w500/{{moviesrec.poster_path}}" height="300" width="200">
                        <h3 class="hometitle">{{moviesrec.title}}</h3>
                     </a>
                  </div>
               </div>
               <div class="nextdirection most-next"><img src="assets/img/right-arrow.svg"> </div>
               <div class="leftdirection most-prev"><img src="assets/img/left-arrow.svg"> </div>
               <!-- Add Pagination -->
            </div>
         </div>
      </section>
      <section class="panel">
         <h2> Best movies from 2010</h2>
         <div class="topslider">
            <div class="swiper-container">
               <div class="swiper-wrapper">
                  <div class="swiper-slide" *ngFor="let bestmovie of bestmovies">
                     <a routerLink="/single" routerLinkActive="active">
                        <img *ngIf="bestmovie.poster_path == null ; else noInformacion" src="assets/images/img_empty.png" height="300" width="200">
                        <ng-template #noInformacion>
                            <img src="https://image.tmdb.org/t/p/w500/{{bestmovie.poster_path}}" height="300" width="200">
                        </ng-template>
                        <h3 class="hometitle">{{bestmovie.title}}</h3>
                     </a>
                  </div>
               </div>
               <div class="nextdirection top-next"><img src="assets/img/right-arrow.svg"> </div>
               <div class="leftdirection top-prev"><img src="assets/img/left-arrow.svg"> </div>
               <!-- Add Pagination -->
            </div>
         </div>
      </section>
   </main>
   <footer class="footer">
      <div class="copyright">
         <p>Copyright &copy 2017 www.focusoncode.com</p>
      </div>
      <div class="footermenu">
         <ul>
            <li><a routerLink="/index" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            <li><a routerLink="/terms" routerLinkActive="active">Terms and conditions</a></li>
         </ul>
      </div>
      <div class="tags">
         <ul>
            <li>Watch Free Movies Trailers</li>
            <li>Movie Trailers</li>
            <li>English Subtitled Movies Trailers</li>
            <li>Latest Movies Trailers</li>
            <li>New Movies Trailers</li>
         </ul>
      </div>
   </footer>
</div>
