<div class="wrapper">
   <main class="content">
      <section class="centered">
         <h3>Contact</h3>
         <div class="contact">
            <form id="myForm" action="#" method="POST">
               <label for="name">Name:</label>
               <input type="text" name="name" id="name">
               <label for="email">Email:</label>
               <input type="text" name="email" id="email">
               <label for="message">Message:</label>
               <textarea id="message" name="message"></textarea>
               <input type="submit" name="submit" value="SEND">
            </form>
            <span class="success">Message sent succesfully</span>
            <span class="error">Failed sending message</span>
         </div>
      </section>
   </main>
</div>
<footer class="footer">
   <div class="copyright">
      <p>Copyright &copy 2017 www.focusoncode.com</p>
   </div>
   <div class="footermenu">
      <ul>
         <li><a routerLink="/index" routerLinkActive="active">Home</a></li>
         <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
         <li><a routerLink="/terms" routerLinkActive="active">Terms and conditions</a></li>
      </ul>
   </div>
   <div class="tags">
      <ul>
         <li>Watch Free Movies Trailers</li>
         <li>Movie Trailers</li>
         <li>English Subtitled Movies Trailers</li>
         <li>Latest Movies Trailers</li>
         <li>New Movies Trailers</li>
      </ul>
   </div>
</footer>
