<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navnav" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
    </div>
    <div class="navbar-collapse collapse" id="navnav">
      <ul class="nav navbar-nav navbar-right" id="nav-menu">
        <li class="dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"  role="button">
            <i class="icon-user"></i> Download <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="https://gitlab.com/Laraveljeff3435789/CODEEXMAPLE">Download Source Code</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="container-padding">
        <div class="well pgui-login">
          <p class="text-center"><img alt="User avatar" class="pgui-login-avatar" src="assets/components/assets/img/login_avatar.png"></p>
          <form method="post">
            <div class="form-group">
              <input class="form-control" id="email" name="email" [(ngModel)]="email" placeholder="Email" type="text">
            </div>
            <div class="form-group">
              <input class="form-control" id="password" name="password"  [(ngModel)]="password" placeholder="Password" type="password">
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label><input id="saveidentity" name="saveidentity" type="checkbox"> Remember me</label>
              </div>
            </div>
            <div class="form-group text-center">
              <button class="btn btn-primary" (click)="validateLogin()" type="button">Login</button>
            </div>
          </form>
          <div class="pgui-login-footer">
            <p class="text-center">Don't have an account? <a routerLink="/registers/create">Register here</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>Available users</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Email</th>
                <th>Password</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let register of registers | async">
                <td>{{register.email}}</td>
                <td>{{register.password}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
