	<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navnav" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
			</div>
			<div class="navbar-collapse collapse" id="navnav">
				<ul class="nav navbar-nav navbar-right" id="nav-menu">
					<li class="dropdown">
						<a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="icon-user"></i> System settings
							<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a>Logout</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav">
					<li>
						<a routerLink="/pokemons" title="Pokemon">Pokemon</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="container-padding">
					<div id="pgui-view-grid">
						<div class="page-header">
							<ol class="breadcrumb pgui-breadcrumb">
								<li>
									<a><i class="icon-home"></i></a>
								</li>
								<li class="dropdown">
									<a>Pokemon</a>
								</li>
								<li class="">View</li>
							</ol>
							<h1>View</h1>
						</div>
						<div class="form-horizontal">
							<div class="form-actions form-actions-top row">
								<div class="col-lg-8">
									<div class="row">
										<div class="col-sm-9 col-sm-offset-3">
											<div class="btn-toolbar">
												<div class="btn-group">
													<a class="btn btn-primary" routerLink="/pokemons" title="Back to list">
														<i class="icon-arrow-left"></i>
														<span class="hidden-sm hidden-xs">Back to list</span>
													</a>
												</div>
												<div class="btn-group">
													<a class="btn btn-default" title="Edit">
														<i class="icon-edit"></i>
														<span class="hidden-sm hidden-xs">Edit</span></a>
												</div>
												<div class="btn-group">
													<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Manage details"><span class="icon-list"></span> <span class="hidden-sm hidden-xs">Manage details</span> <span class="caret"></span></a>
													<ul class="dropdown-menu">
														<li>
															<a>Manage "Detalle Pokemon" details</a>
														</li>
													</ul>
												</div>
												<div class="btn-group">
													<div class="btn-group">
														<a class="btn btn-default dropdown-toggle" data-toggle="dropdown"  title="Export"><i class="icon-export"></i> <span class="hidden-sm hidden-xs">Export</span> <span class="caret"></span></a>
														<ul class="dropdown-menu">
															<li>
																<a ><i class="icon-export-pdf"></i> Export to Pdf</a>
															</li>
															<li>
																<a ><i class="icon-export-excel"></i> Export to Excel</a>
															</li>
															<li>
																<a ><i class="icon-export-word"></i> Export to Word</a>
															</li>
															<li>
																<a><i class="icon-export-xml"></i> Export to Xml</a>
															</li>
															<li>
																<a><i class="icon-export-csv"></i> Export to Csv</a>
															</li>
														</ul>
													</div>
													<div class="btn-group">
														<a class="btn btn-default" title="Print"><i class="icon-print-page"></i> <span class="hidden-sm hidden-xs">Print</span></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 js-message-container"></div>
								<div class="clearfix"></div>
								<div class="form-static form-horizontal col-lg-8">
									<div class="row" *ngIf="pokemon | async ; let pokemon;">
										<fieldset class="col-md-12">
											<div class="row">
												<div class="form-group form-group-label col-sm-3">
													<label class="control-label" data-column="id_pokemon">Id</label>
												</div>
												<div class="form-group col-sm-9">
													<div class="form-control-static pgui-cell-edit" data-column-name="id_pokemon" data-edit-url="">
														{{pokemon.id}}
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group form-group-label col-sm-3">
													<label class="control-label" data-column="nombre_pokemon">Pokemon Name</label>
												</div>
												<div class="form-group col-sm-9">
													<div class="form-control-static pgui-cell-edit" data-column-name="nombre_pokemon" data-edit-url="">
														{{pokemon.name}}
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group form-group-label col-sm-3">
													<label class="control-label" data-column="imagen">Image</label>
												</div>
												<div class="form-group col-sm-9">
													<div class="form-control-static pgui-cell-edit" data-column-name="imagen" data-edit-url="">
															<img alt="" data-image-column="true" src="{{pokemon.sprites.back_default}}">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group form-group-label col-sm-3">
													<label class="control-label" data-column="type">Type</label>
												</div>
												<div class="form-group col-sm-9">
													<div class="form-control-static pgui-cell-edit"  *ngFor="let mytype of pokemon.types" data-column-name="type" data-edit-url="">
														{{mytype.type.name}}
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group form-group-label col-sm-3">
													<label class="control-label" data-column="height">Height</label>
												</div>
												<div class="form-group col-sm-9">
													<div class="form-control-static pgui-cell-edit" data-column-name="height" data-edit-url="">
														{{pokemon.height}}
													</div>
												</div>
											</div>

											<div class="row">
												<div class="form-group form-group-label col-sm-3">
													<label class="control-label" data-column="weight">Weight</label>
												</div>
												<div class="form-group col-sm-9">
													<div class="form-control-static pgui-cell-edit" data-column-name="weight" data-edit-url="">
														{{pokemon.weight}}
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group form-group-label col-sm-3">
													<label class="control-label" data-column="list_movements">Movements List</label>
												</div>
												<div class="form-group col-sm-9">
													<div class="form-control-static pgui-cell-edit" *ngFor="let mymove of pokemon.moves" data-column-name="list_movements" data-edit-url="">
														{{mymove.move.name}}
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group form-group-label col-sm-3">
													<label class="control-label" data-column="list_movements">Evolution chain</label>
												</div>
												<div class="form-group col-sm-9">
													<div class="form-control-static pgui-cell-edit" data-column-name="evolution_movement" data-edit-url="">
													Next Version
													</div>
												</div>
											</div>
										</fieldset>
									</div>
								</div>
							</div>
							<div class="form-actions row">
								<div class="col-lg-8">
									<div class="row">
										<div class="col-sm-9 col-sm-offset-3">
											<div class="btn-toolbar">
												<div class="btn-group">
													<a class="btn btn-primary" routerLink="/pokemons" title="Back to list">
														<i class="icon-arrow-left"></i>
														<span class="hidden-sm hidden-xs">Back to list</span>
													</a>
												</div>
												<div class="btn-group">
													<a class="btn btn-default" title="Edit"><i class="icon-edit"></i>
														<span class="hidden-sm hidden-xs">Edit</span></a>
												</div>
												<div class="btn-group">
													<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Manage details"><span class="icon-list"></span> <span class="hidden-sm hidden-xs">Manage details</span> <span class="caret"></span></a>
													<ul class="dropdown-menu">
														<li>
															<a>Manage "Detalle Pokemon" details</a>
														</li>
													</ul>
												</div>
												<div class="btn-group">
													<div class="btn-group">
														<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Export"><i class="icon-export"></i> <span class="hidden-sm hidden-xs">Export</span> <span class="caret"></span></a>
														<ul class="dropdown-menu">
															<li>
																<a><i class="icon-export-pdf"></i> Export to Pdf</a>
															</li>
															<li>
																<a><i class="icon-export-excel"></i> Export to Excel</a>
															</li>
															<li>
																<a><i class="icon-export-word"></i> Export to Word</a>
															</li>
															<li>
																<a><i class="icon-export-xml"></i> Export to Xml</a>
															</li>
															<li>
																<a><i class="icon-export-csv"></i> Export to Csv</a>
															</li>
														</ul>
													</div>
													<div class="btn-group">
														<a class="btn btn-default" title="Print"><i class="icon-print-page"></i> <span class="hidden-sm hidden-xs">Print</span></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="pg-change-password-dialog" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"><span aria-hidden="true">&times;</span></span></button>
					<h4 class="modal-title" id="pg-change-password-dialog-header-user">Change your password</h4>
					<h4 class="modal-title" id="pg-change-password-dialog-header-admin">Change password for user '<span data-bind="text: changePasswordUser.name"></span>'</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<fieldset>
							<div class="form-group" id="pg-change-password-dialog-current-password-form-group">
								<label class="col-sm-3 control-label" for="pg-change-password-dialog-current-password">Current password</label>
								<div class="col-sm-9">
									<input class="form-control" id="pg-change-password-dialog-current-password" name="currentPassword" type="password">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="pg-change-password-dialog-new-password">New password</label>
								<div class="col-sm-9">
									<input class="form-control" id="pg-change-password-dialog-new-password" name="newPassword" type="password">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" for="pg-change-password-dialog-confirmed-password">Confirm password</label>
								<div class="col-sm-9">
									<input class="form-control" id="pg-change-password-dialog-confirmed-password" name="confirmedPassword" type="password">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-9 col-offset-sm-3">
									<div class="alert alert-warning" id="pg-change-password-dialog-confirmed-password-error">
										<p>Passwords do not match. Please try again.</p>
									</div>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="modal-footer">
					<a class="btn btn-default" data-dismiss="modal">Close</a> <a class="btn btn-primary" id="pg-change-password-dialog-ok-button">Change password</a>
				</div>
			</div>
		</div>
	</div>
