	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="container-padding">
					<div class="well pgui-login">
						<div class="page-header">
							<h3>Registration form</h3>
						</div>
						<div class="js-form-container">
							<div class="js-form-collection">
								<form id="registrationForm" method="post" name="registrationForm">
									<div class="form-group">
										<input class="form-control" data-field-name="trainerName" [(ngModel)] ="register.trainerName" id="trainerName" name="trainerName" placeholder="Name trainer" type="text">
									</div>
									<div class="form-group">
										<input class="form-control" data-field-name="email" [(ngModel)] ="register.email" id="email" name="email" placeholder="Email" type="text">
									</div>
									<div class="form-group">
										<input class="form-control" data-field-name="password" [(ngModel)] ="register.password"  id="password" name="password" placeholder="Password" type="password">
									</div>
									<div class="form-group">
										<input class="form-control" data-field-name="conpassword" [(ngModel)]="conpassword" id="conpassword" name="conpassword" placeholder="Confirm password" type="password">
									</div>
									<div class="form-error-container"></div>
									<div class="form-group text-center">
										<button class="btn btn-primary js-save" data-action="open" data-url="" (click)="AddRegister()">Register</button>
										&nbsp;
										<button class="btn btn-primary js-save" data-action="close" data-url="" routerLink="/registers">Cancel</button>
									</div>
								</form>
							</div>
						</div>
						<div class="pgui-login-footer">
							<p class="text-center">Already have an account? <a routerLink="/registers" >Sign in here</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
